{% extends 'main/index.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}<title> پیام | داده پرداز اصفهان</title>{% endblock %}


{% block content %}
<section id="page-title" class="text-light" data-bg-parallax="{% static 'images/contact.jpg' %}">
    <div class="container">
        <div style="z-index: -1" class="bg-overlay"></div>
        <div class="page-title">
            <h1>کاربر عزیز</h1>
            <p>داده پرداز اصفهان</p>
        </div>
    </div>
</section>

<section id="welcome" class="p-b-0">
    <div class="container">
        <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
            <h2>{{message}}</h2>

            <a class="btn btn-light mt-4" href="{% url 'main:index' %}">خانه</a>
        </div>

        
       
    </div>
</section>



{% endblock content %}